@import "../assets/scss/breakpoints";

p.title {
    text-align: center;
    margin: 50px;
    font-size: 22px;
    font-weight: bold;
}

span.ant-spin-dot {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
}