.login-form {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    .login-form-forgot {
        float: center;
    }
    .login-form-button {
        width: 100%;
    }
    .errorMsg {
        color: red;
    }
}